<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration</title>
</head>
<body>
  <%- include('partials/_header') %> 
  <form method="POST" action="/register">
    <h6>E-mail:</h6>
    <input type="text" name="email" placeholder="Please enter your E-mail">
    <h6>Password:</h6>
    <input type="password" name="password" placeholder="Please enter a password">
    <button type="submit" class="btn-primary" value="submit">Create User</button>
</body>
</html>